.sprite { display:inline-block; overflow:hidden; background-repeat: no-repeat; background-image:url('#{$img-path}terrain_spritesheet.png');}


.dirt01 {width:64px; height:64px; background-position: -0px -0px}
.dirt02 {width:64px; height:64px; background-position: -64px -0px}
.grass01 {width:64px; height:64px; background-position: -128px -0px}
.grass02 {width:64px; height:64px; background-position: -192px -0px}
.stone01 {width:64px; height:64px; background-position: -256px -0px}
.stone02 {width:64px; height:64px; background-position: -320px -0px}
.stone03 {width:64px; height:64px; background-position: -384px -0px}
.stone04 {width:64px; height:64px; background-position: -448px -0px}
.wall01 {width:64px; height:64px; background-position: -512px -0px}
.wall02 {width:64px; height:64px; background-position: -576px -0px}
.wall03 {width:64px; height:64px; background-position: -640px -0px}
.rock01 {width:64px; height:64px; background-position: -704px -0px}
.rock02 {width:64px; height:64px; background-position: -768px -0px}