/**
 * HOME PAGE
 */
#home-page 						{

	#featured 					{ 
		.inside-shadow 			{ background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.9) 100%); box-shadow: inset 0px 0px 200px 100px rgba(0, 0, 0, 0.5); position: absolute; width: 100%; top: 0; bottom: 0; }
		h1 						{ margin-bottom: 10px; }
		h6 						{ color: $white; margin: 0; 
			a 					{ color: $white; text-decoration: underline; 
				&.visited 		{ color: $white; }
			}
		}

		a.btn 					{ margin: 0; }

		.featured-title 		{ position: absolute; width: 100%; padding: 0 100px; left: 0; bottom: 200px; text-align: left; }

		@media (max-width: $screen-sm-max) { 
			.featured-title 		{ padding: 0 15px; bottom: 80px; }
		}
	}

}

/**
 * SINGLE PARTY PAGE
 */
body.single-parties 			{ overflow: hidden;

}

#party-page 					{ display: flex; height: 100%;

	#party-sidebar 				{ background-color: $almost-black; color: $graaay; padding: 15px; height: 100vh; overflow: auto; width: 220px;
		#party-nav 				{ 
			.menu-item 			{ cursor: pointer; font-size: 1.6rem; margin-bottom:4px;
				i 				{ margin-right: 4px; }
			}

			.menu-section 		{ font-size: 1.8rem; margin-top: 20px; margin-bottom: 6px;
				
			}
		}
	}
	

	#party-chat 				{ flex: 1; padding: 15px; display: flex; flex-direction: column;
		#chat-message-area 		{ height: 100%; overflow: auto; flex: 1; position: relative;
			.chat-message-align	{ position: absolute; bottom: 0; width: 100%; }

			.chat-date-hr 		{ margin: 20px 0; width: 100%; line-height: 1rem; position: relative; outline: 0; border: 0; text-align: center; height: 1.5rem;
				&:before 		{ content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 1px;
					background: linear-gradient(to right, transparent, $graaay, transparent);
				}

				&:after 		{ content: attr(data-content); position: relative; display: inline-block; color: $almost-black; padding: 0 10px; line-height: 1rem; font-size: 1.5rem; font-weight: bold; background-color: $white; }

			}

			.chat-message 		{ display: flex; margin-bottom: 10px;
				.chat-image 	{ cursor: pointer; width: 32px;
					i 			{ font-size: 3rem; }
				}

				.chat-content 	{ flex: 1; 
					.chat-info 	{ font-size: 1.4rem; line-height: 1;
						.time 	{ font-size: 1.3rem; color: $graaay; }
					}
					.chat-text 	{ font-size: 1.4rem;

					}
				}
			}
		}

		#chat-send-message 		{ 
			.form-control 		{ font-size: 1.6rem; border-color: $degrees-of-gray; }
			.send-btn 			{ background-color: $white; border-color: $degrees-of-gray; }
		}
	}

	#party-gamearea 			{ width: 70%; overflow: hidden; display: flex; flex-direction: column;
		
		&.paint-tool 			{ cursor: url(#{$img-path}paint-roller-solid.png), default; }
		&.fill-tool 			{ cursor: url(#{$img-path}fill-drip-solid.png), default; }
		&.erase-tool 			{ cursor: url(#{$img-path}eraser-solid.png), default; }
		&.highlight-tool 		{ cursor: url(#{$img-path}highlighter-solid.png), default; }
		&.sample-tool 			{ cursor: url(#{$img-path}eye-dropper-solid.png), default; }

		#gamearea-map-wrapper 	{ background-color: $light-gray; height: 100%; max-height: 100%; width: 100%; overflow: auto; }
		#gamearea-map 			{ height: 1210px; width: 1160px; padding: 150px 100px 100px; display: flex; flex-wrap: wrap; overflow: hidden; }
		.tile 					{ border: 1px solid $almost-black; height: 32px; width: 32px; position: relative;
			&:before 			{ content: ''; display: block; width: 32px; height: 32px; margin: -1px; }

			&.highlight 		{ 
				&:before 		{ @include jbhighlight(); }
			}

			&.path 				{
				&:before 		{ background-color: rgba(255,0,0,0.5); }
			}
		}

		.npc 					{ @include center(); background-color: #98c4f3; border: 2px dotted $almost-black; border-radius: 50%; width: 32px; height: 32px;
			//&:before 			{ @include center();  border-radius: 50%; display: none; width: 32px; height: 32px; margin: -1px; }

			&.movement 			{ display: block; content: '';
				&:before 		{ //@include jbhighlight(); 
				}

				// &.2 			{ width: 64px; height: 64px; }
				// &.3 			{ width: 64px; height: 64px; }
				// &.4 			{ width: 64px; height: 64px; }
				// &.5 			{ width: 64px; height: 64px; }
				// &.6 			{ width: 64px; height: 64px; }
				// &.7 			{ width: 64px; height: 64px; }
			}

			// @for $i from 1 through 10 {
			// 	&.speed-#{$i} {
					
			// 	}
			// }
		}
	}

	#dm-tools 					{ display: none; flex: 1; overflow-y: scroll; padding: 30px 0;
		
		.dm-tool 				{ margin-bottom: 30px;
			h6 					{ font-size: 2rem; font-weight: bold; margin-bottom: 10px; line-height: 1.2; }
			.dm-holder 			{ display: flex;

				.dm-tile		{ cursor: pointer; width: 32px; height: 32px; margin: 5px 5px 5px 0;
					img,
					input 		{ max-width: 100%; height: 32px; width: 32px; }

					&.active 	{ box-shadow: 0px 0px 6px rgba(0,0,0,0.8); }
				}
			}

			.form-group 		{ 
				label 				{ font-size: 1.5rem; font-weight: bold; }
				input 				{ border: 0; font-size: 1.5rem; font-weight: bold; line-height: 2; padding: 0; }

				input[type=text] 	{ padding-left: 10px;}

				input[type=color] 	{ border: none; cursor: pointer; width: 32px; height: 32px; 
					-webkit-appearance: none;

					&::-webkit-color-swatch-wrapper {
						padding: 0;
					}

					&::-webkit-color-swatch {
						border: none;
					}
				}
			}
		}

		
		#tool-select 			{ 
			.tool 				{ cursor: pointer; width: 32px; height: 32px; text-align: center; padding: 0.7rem; 
				&.active,
				&:hover 		{ background-color: #98c4f3; }

				i 				{ display: block; font-size: 1.6rem; }
			}
		}

		#current-tile 			{ width: 32px; height: 32px; display: inline-block;

		}

		#npc-area 				{ 
			
			#npc-holder 		{ 
				.npc 			{
					img 		{  }
				}
			}
		}

	}

	
}


/**
 * DEFAULT PAGES
 */
 #default-page 					{ 

 }

/**
 * CONTACT PAGE
 */
#contact-page 					{ 
	
}


/**
 * ARCHIVES
 */
body.blog,
body.search,
body.archive,
body.category					{ 
	
}
